<div class="container">
  <div class="col-md-8">
    <h1><img src="assets/images/logo.png" alt="logo.png, 23kB" title="Logo" height="150" width="131">Kingfisher industries</h1>
  </div>
  <div class="col-md-4">
    <!--profile??-->
  </div>
  <div class="col-md-12">    
    <div class="navbar navbar-default" ng-controller="NavbarCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigations</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">kingfisher industries</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/')}"><a ng-href="/">Home</a></li>
            <li ng-show="isAdmin()" ng-class="{active: isActive('/admin/')}" class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle">Admin <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/admin/users"><span class="fa fa-user"></span> Users</a></li>
                <li><a href="/admin/products"><span class="fa fa-cubes"></span> Products</a></li>
                <li><a href="/admin/eve"><span class="fa fa-cubes"></span> Eve items</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <!--cart dropdown-->
            <li class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle"><span class="fa fa-shopping-cartCart"></span> [0]<span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu pull-right hcart">
                <li>
                  <table class="table table-condensed">
                    <tr>
                      <td class="text-center">
                        <a href="product.html">
                          <img class="img-responsive img-thumbnail" src="http://image.eveonline.com/Type/583_32.png" >                              
                        </a>
                      </td>
                      <td class="text-left">
                        <a href="product-full.html">
                          Bantam
                        </a>
                      </td>
                      <td class="text-right">x1</td>
                      <td class="text-right">999.999.999</td>
                      <td class="text-left">ISK</td>
                      <td class="text-center">
                        <a href="#">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </td>
                    </tr>
                  </table>
                </li>
                <li>
                  <table class="table total">
                      <tr>
                        <td class="text-right"><strong>Total</strong></td>
                        <td class="text-left">15.000.000 ISK</td>
                      </tr>
                  </table>
                  <p class="text-right">
                    <a href="cart.html"  class="btn btn-default" role="button">
                      View Cart
                    </a>
                    <a href="#"  class="btn btn-primary" role="button">
                      Checkout
                    </a>
                  </p>
                </li>                 
              </ul>
            </li>
            <!-- when not logged in-->
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>

            <!-- when logged in -->
            <li ng-show="isLoggedIn()" class="dropdown" on-toggle="toggled(open)">
              <a href class="dropdown-toggle">Welcome, {{ getCurrentUser().name }} <span class="fa fa-caret-down"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#myprofile"><span class="fa fa-user"></span> My profile</a></li>
                <li><a href="/settings"><span class="fa fa-cog"></span> Settings</li>
                <li class="divider"></li>  
                <li><a href ng-click="logout()"><span class="fa fa-sign-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>