<div ng-include="'components/navbar/navbar2.html'"></div>

<div class="container">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Panel heading</div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i>
              </div>
              <input type="text" class="form-control" placeholder="Search" ng-model="name" min="582" max="672">
            </div>
          </div>
        </form>
        <button class="btn btn-default" ng-click="update(name, sdd)">update</button>
      </div>
      <!-- Table -->
      <div class="container-fluid">
        <accordion close-others="oneAtATime">
          <accordion-group is-disabled="true">
            <accordion-heading>
              <div class="row">
                <div class="col-xs-2">ID</div>
                <div class="col-xs-2">Group</div>
                <div class="col-xs-2">Name</div>
                <div class="col-xs-2">Race</div>
                <div class="col-xs-2">Marketgroup</div>
              </div>
            </accordion-heading>
          </accordion-group>
          <!-- Products from SDD-->
          <accordion-group is-open="status.open" ng-repeat="eveitem in eveitems">
            <accordion-heading>
              <div class="row">
                <div class="col-xs-2">{{eveitem.typeID}}</div>
                <div class="col-xs-2">{{eveitem.groupID}}</div>
                <div class="col-xs-2">{{eveitem.typeName}}</div>
                <div class="col-xs-2">{{eveitem.raceID}}</div>
                <div class="col-xs-2">{{eveitem.marketGroupID}}</div>
                <div class="col-xs-2">
                  <button ng-hide="checkProducts({{eveitem.typeID}})" type="submit" class="btn btn-primary" ng-click="saveProduct(eveitem, $index);">
                    <i class="fa fa-floppy-o"></i> save
                  </button>
                  <span class="pull-right glyphicon" ng-class="{'fa fa-caret-down': status.open, 'fa fa-caret-down fa-rotate-90': !status.open}"></span>
                </div>
              </div>
            </accordion-heading>
            <div class="col-xs-8">
              <img class="img-responsive img-thumbnail" ng-src="https://image.eveonline.com/Render/{{eveitem.typeID}}_128.png" title="{{eveitem.typeName}}">
              <p>{{eveitem.invTypesDesc}}</p>
            </div>
            <ul class="list-group col-xs-4">
              <li class="list-group-item" style="color: black;" ng-repeat="material in eveitem.materials">
                <img ng-src="https://image.eveonline.com/Type/{{material.materialTypeID}}_32.png" title="{{material.materialTypeName}}"> {{material.quantity | number}}
              </li>
            </ul>
          </accordion-group>
          <!-- Products from database-->
          <accordion-group is-open="status.open" ng-repeat="product in products | orderBy:sortType:sortReverse">
            <accordion-heading>
              <div class="row">
                <div class="col-xs-2">{{product.typeID}}</div>
                <div class="col-xs-2">{{product.groupID}}</div>
                <div class="col-xs-2">{{product.typeName}}</div>
                <div class="col-xs-2">{{product.raceID}}</div>
                <div class="col-xs-2">{{product.marketGroupID}}</div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>saved
                  </button>
                  <span class="pull-right glyphicon" ng-class="{'fa fa-caret-down': status.open, 'fa fa-caret-down fa-rotate-90': !status.open}"></span>
                </div>
              </div>
            </accordion-heading>
            <div class="col-xs-8">
              <img class="img-responsive img-thumbnail" ng-src="https://image.eveonline.com/Render/{{product.typeID}}_128.png" title="{{product.typeName}}">
              <p>{{product.invTypesDesc}}</p>
            </div>
            <ul class="list-group col-xs-4">
              <li class="list-group-item" style="color: black;" ng-repeat="material in product.materials">
                <img ng-src="https://image.eveonline.com/Type/{{material.materialTypeID}}_32.png" title="{{material.materialTypeName}}"> {{material.quantity | number}}
              </li>
            </ul>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>
